<h1>
	MagasinsReunion.re, le premier site annuaire local dédié aux commerçants physiques de La Réunion
</h1>
<div class="about-content">
	<p>
		La start-up réunionnaise <%= link_to "Fing Offers", "http://fingoffers.com" %> a édité cette première solution pour les commerçants réunionnais afin de les aider à être plus proche des consommateurs de demain.
	</p>
	<p>
		<strong>Nous pensons qu’il est indispensable aujourd’hui, pour un magasin physique, d’être présent sur Internet.</strong> L’idée est de permettre aux Réunionnais de trouver rapidement en ligne les commerçants en fonction de leur localisation et de leurs secteurs d'activité. Ils pourront également accéder aux informations pratiques (adresse, téléphone, horaires d’ouverture et de fermeture et bien d’autres).
	</p>
	<p>
		<strong>Cet annuaire est dédié aux commerçants situés en ville de La Réunion.</strong>
	</p>
	<p>
		Si vous avez un ou plusieurs magasins, n'hésitez pas à vous <%= link_to "inscrire", "https://docs.google.com/forms/d/11NA8GXC6sJdcRDeTMnsm7fA0HT3oDKlxLJlFNWOKX_M/viewform"%>. Pour rappel, <strong>l'inscription à l'annuaire est totalement gratuite</strong>.
	</p>
</div>