<div id="home">
	<div id="map" class="map"></div>

	<aside class="retails">

		<section class="retail panel panel-default">
			<div class="panel-body clearfix">
				<div class="logo">
					<div class="label label-success">Ouvert</div>
					<img src="http://placehold.it/100x100">
				</div>
				<div class="information">
					<h2>
						La caze Collet
					</h2>	
					<p>
						6 rue Robert <br>
						97412 Bras-Panon
					</p>
					<p>
						06 92 38 79 94
					</p>
				</div>
			</div>
			<div class="panel-footer">
				<span class="label label-default"><strong>Vêtement</strong></span>
				<span class="label label-default"><strong>Sport</strong></span>
			</div>
		</section>

		<section class="retail panel panel-default">
			<div class="panel-body clearfix">
				<div class="logo">
					<div class="label label-success">Ouvert</div>
					<img src="http://placehold.it/100x100">
				</div>
				<div class="information">
					<h2>
						La caze Collet
					</h2>	
					<p>
						6 rue Robert <br>
						97412 Bras-Panon
					</p>
					<p>
						06 92 38 79 94
					</p>
				</div>
			</div>
			<div class="panel-footer">
				<span class="label label-default"><strong>Vêtement</strong></span>
				<span class="label label-default"><strong>Sport</strong></span>
			</div>
		</section>

		<section class="retail panel panel-default">
			<div class="panel-body clearfix">
				<div class="logo">
					<div class="label label-success">Ouvert</div>
					<img src="http://placehold.it/100x100">
				</div>
				<div class="information">
					<h2>
						La caze Collet
					</h2>	
					<p>
						6 rue Robert <br>
						97412 Bras-Panon
					</p>
					<p>
						06 92 38 79 94
					</p>
				</div>
			</div>
			<div class="panel-footer">
				<span class="label label-default"><strong>Vêtement</strong></span>
				<span class="label label-default"><strong>Sport</strong></span>
			</div>
		</section>

		<section class="retail panel panel-default">
			<div class="panel-body clearfix">
				<div class="logo">
					<div class="label label-success">Ouvert</div>
					<img src="http://placehold.it/100x100">
				</div>
				<div class="information">
					<h2>
						La caze Collet
					</h2>	
					<p>
						6 rue Robert <br>
						97412 Bras-Panon
					</p>
					<p>
						06 92 38 79 94
					</p>
				</div>
			</div>
			<div class="panel-footer">
				<span class="label label-default"><strong>Vêtement</strong></span>
				<span class="label label-default"><strong>Sport</strong></span>
			</div>
		</section>

		<section class="retail panel panel-default">
			<div class="panel-body clearfix">
				<div class="logo">
					<div class="label label-success">Ouvert</div>
					<img src="http://placehold.it/100x100">
				</div>
				<div class="information">
					<h2>
						La caze Collet
					</h2>	
					<p>
						6 rue Robert <br>
						97412 Bras-Panon
					</p>
					<p>
						06 92 38 79 94
					</p>
				</div>
			</div>
			<div class="panel-footer">
				<span class="label label-default"><strong>Vêtement</strong></span>
				<span class="label label-default"><strong>Sport</strong></span>
			</div>
		</section>

	</aside>

	<script>

		var map = L.mapbox.map('map', 'julien-c.map-crig5ksu');

		var geoJson = {
		    type: 'FeatureCollection',
		    features: [{
		        type: 'Feature',
			    geometry: {
			        type: 'Point',
			        coordinates : [55.6860532,-21.0005207]
			    },
			    properties: {
			        description : "<strong>La caze Collet</strong>"+
							"<br>"+
							"6 rue Robert"+
							"<br>"+
							"97412 Bras-Panon",
			        'marker-size': 'large',
			        'marker-color': '#e74c3c'
			    }
		    },
		    {
		        type: 'Feature',
			    geometry: {
			        type: 'Point',
			        coordinates : [55.4555071,-20.8795082]
			    },
			    properties: {
			        description : "<strong>Magasin Cristal</strong>"+
							"<br>"+
							"199 r Mar Leclerc"+
							"<br>"+
							"97400 Saint-Denis",
			        'marker-size': 'large',
			        'marker-color': '#e74c3c'
			    }
		    }]
		};

		map.fitBounds([
		    [-21.5, 56], 
		    [-20.7, 55.7]
		], {
		    // this preserves the space from the left of the real map to 200px
		    // for content. the format is [x, y]. See
		    // http://leafletjs.com/reference.html#map-paddingtopleft
		    // for full documentation and other options
		    paddingTopLeft: [450, 0]
		});

		map.setZoom(10);

		map.featureLayer.setGeoJSON(geoJson);

	    map.scrollWheelZoom.disable();
	    map.zoomControl.setPosition('topright');

	    map.featureLayer.on('mouseover', function(e) {
		    e.layer.openPopup();
		});
		map.featureLayer.on('mouseout', function(e) {
		    e.layer.closePopup();
		});

	</script>
</div>