@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: 					  #ecf0f1;
$font-family-sans-serif: 		"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbar-default-bg: 		  	white;
$navbar-border-radius: 				0;
$navbar-inverse-link-color: 	white;
$jumbotron-bg: 				  	white;
$brand-primary: 			  #e74c3c;

@import "bootstrap";

@media(max-width: 825px){
	.wrap{width:100%; margin:0; padding:0;}
	#about{padding: 15px;}
}
.navbar{
	img{height:100%;}
	margin-bottom: 0;
	.nav-title{
		font-size: 18px;
		margin: 0;
		line-height: 50px;
	}
	@media(max-width: 768px){
		.nav-title{margin-left:15px;}
	}
	@media(max-width: 992px){
		.nav-title{font-size: 11px;}
	}
}
.navbar-primary{
	.navbar-brand{
		padding: 7px 15px;
		margin-top: 2px;
	}
	.subscription-link{
		span{text-transform:uppercase; letter-spacing: 1px;}
	}
}
.searchbar{
	background-color: #c0392b;
	color: white;
	.search-action-text{display: inline;}
	.search-action-icon{display: none; 
		span{margin-top: 12px; font-size: 21px; margin-right: 0;}
	}
	@media(max-width: 825px){
		form{
			ul{width:100%;}
			li{
				float: none;
				.form-group{
					padding: 0;
					label{display: none;}
					.form-control{width: 100%;}
				}
			}
			.search-action-icon{
				.glyphicon-search{font-size: 16px;}
				.glyphicon-search:after{
					content: " Rechercher";
					text-transform: uppercase;
					font-size: 16px;
					letter-spacing: 1px;
					font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
				}	
				button{width: 100%;}
			}
		} 
	}
	@media(max-width: 992px){
		.container{width: auto;}
	}
	@media (max-width: 1200px){
		.navbar-header{
			display: none;
		}
		.search-action-text{display: none;}
		.search-action-icon{display: inline;}
	}
	.navbar-brand{
		color:white;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-right:1px solid #ecf0f1;
		padding-right: 20px;
	}
	.navbar-brand:hover{
		color: white;
	}
	form{
		padding-left:20px;
		line-height: 50px;
		.form-group{
			margin-bottom: 0;
			padding:0 20px;
		}
		label{margin-right: 5px;}
		label, .form-control{display: inline;}
		.form-control{width:250px;}
	}
	li.search-action button>span{margin-right: 5px;}
	li.search-action button{
		background-color: #e74c3c;
		padding:0 20px;
		height:50px;
		color: white;
		display: block;
		line-height: 50px;
		font-size: 16px;
		border: none;
	}
	li.search-action button:hover{
		color: white;
		background-color: rgb(156, 50, 39);
		-webkit-transition-duration : 0.5s;
	}
}
.alert{margin-top: 20px;}
footer{text-align: center; margin-top: 100px; margin-bottom: 5px;}
.list-stores{
	margin-top: 20px;
	th, td{ background-color: white;}
}
#home{
	.map{
		position: absolute;
		top: 105px;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
		overflow: hidden;
		padding: 0;
		padding-left: 450px;
	}
	.retails{
		position: absolute;
		top: 105px;
		left: 0;
		bottom: 0;
		z-index: 999;
		overflow-x: hidden;
		overflow-y: auto;
		padding-right: 10px;
		padding-bottom: 0;
		padding-left: 10px;
		width: 450px;
		background-color: rgba(0 ,0 ,0 , 0.15);
	}
	@media(max-width: 825px){
		.map{display:none;}
		.retails{
			top:0px;
			position: relative;
			width:100%;
			padding: 5px 20px;
		}
	}
	.retail{
		color: rgb(51, 51, 51);
		margin:10px 0;
		border: 2px solid transparent;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: rgb(255, 255, 255);
		-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px 0;
		-moz-box-shadow: rgba(0,0,0,0.4) 0 1px 3px 0;
		box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px 0;
		.logo{
			float:left;
			margin-right: 15px;
			.label{display: block; margin-bottom: 2px;}}
		.information{
			float: left;
		}
		h2{
			margin-top: 0;
			font-size: 17px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
	.wrap-link:hover{
		text-decoration: none;
	}
	.retail:hover{
			border: 2px solid #e74c3c;
		}
	.empty-stores{
		color:white;
		h3{letter-spacing: 1px;}
		p{font-size: 16px;}
	}
}
.retail-show{
	margin-top: 30px;
	.logo{max-width: 28%; margin-right: 2%;}
	.information{
		min-width: 70%;
		.address{
			font-size: 18px;
		}
	}
}

/* ABOUT PAGE */
.about-content{
	p{font-size: 16px;}
}
