<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="MagasinsReunion.re souhaite référencer la majorité des magasins réunionnais afin d'aider les Réunionnais à trouver rapidement ce qu'ils recherchent en ligne.">
  <title>MagasinsReunion.re, le site annuaire des magasins de La Réunion</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="container">
		<%= yield %>
	</div>

	<footer>
		© 2014 MagasinsReunion.re
	</footer>

</body>
</html>
